# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.env/
venv/

# Python environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# Logs
*.log

# IDE files
.vscode/

## Service Account Google Cloud
credentials/
